#銝挾憿舐內
NET "seg<0>" LOC = "H14"; #g
NET "seg<1>" LOC = "J17"; 
NET "seg<2>" LOC = "G14"; 
NET "seg<3>" LOC = "D16"; 
NET "seg<4>" LOC = "D17"; 
NET "seg<5>" LOC = "F18"; 
NET "seg<6>" LOC = "L18"; 
NET "sec"    LOC = "C17"; # Bank = 1, Pin name = IO_L24N_1/LDC2, Type = DUAL, Sch name = DP


NET "sel<0>" LOC = "F17"; 
NET "sel<1>" LOC = "H17"; 
NET "sel<2>" LOC = "C18"; 
NET "sel<3>" LOC = "F15";


#
#NET "clk"   LOC = "B8";
NET "clk"   LOC = "B8";

#clr
#NET "btn<0>" LOC = "B18";
NET "rst" LOC = "B18";
NET "rst" CLOCK_DEDICATED_ROUTE = FALSE;

NET "sec" LOC = "J14";